attached_assets/chatbot_1758905478344.json
{
  "name": "chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ee0c46b8-98f9-4e5b-99cc-6edfe08c7d56",
      "name": "Webhook",
      "webhookId": "90163c32-0e5b-4dae-9cad-5d965c2fb694"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "834c2516-fd38-47cd-8982-2752e9d4e0d7",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "6db877f9-658f-4a61-ad1e-ab32306c3de2",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "e3495222-a145-4d74-977a-9c9f25ffdb3d",
              "name": "payload_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "4ced0693-c757-4faf-b561-f4afa7bab8fb",
              "name": "from",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "89297d1c-7563-4160-adc1-fe2addf2aea5",
              "name": "source",
              "value": "={{ $json.body.payload.source }}",
              "type": "string"
            },
            {
              "id": "d1931a43-c393-4cef-ab46-ebd0c8302ca6",
              "name": "body",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "29a47e67-6ea9-4fbc-bff5-a91e464efaf8",
              "name": "hasMedia",
              "value": "={{ $json.body.payload.hasMedia }}",
              "type": "string"
            },
            {
              "id": "0bf23751-0105-4bd4-be8b-0053ef2dc55b",
              "name": "type",
              "value": "={{ $json.body.payload._data.type }}",
              "type": "string"
            },
            {
              "id": "8d166b30-cfe0-49b9-86e9-b5c923dd0661",
              "name": "Name",
              "value": "={{ $json.body.payload._data.notifyName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "9d5eb208-dad0-44bb-b4ef-53e4c03bf47b",
      "name": "Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08badb5c-cfd1-48d5-87f3-0b2775a096b5",
              "leftValue": "={{ $json.source }}",
              "rightValue": "api",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "517d8348-d934-4a28-b418-5cac6b66a3a9",
      "name": "Ignorar API"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "52fd4958-4655-491d-8fa4-783e2e4b2ce2",
              "leftValue": "={{ $json.payload_id }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        16
      ],
      "id": "b16393f4-2cc0-4ca0-a82e-68914d046965",
      "name": "Ignorar grupos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Você é um assistente virtual de atendimento da Clínica Vida. \nResponda sempre de forma educada, clara e profissional. \nExplique quando necessário, mas seja objetivo. \nNunca invente informações médicas, apenas oriente sobre agendamentos."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1728,
        32
      ],
      "id": "eb6d314c-c515-404a-9fde-59fd4f971426",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1696,
        288
      ],
      "id": "11ab48a6-7146-44d4-8e8c-f631fcad9e23",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YbtEqiQiAVpDuaB2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.from }} chats",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1856,
        288
      ],
      "id": "158de5dd-8b86-435e-a1de-494da9212856",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "T8nfEsJmlbK1zfoJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.from }}",
        "messageId": "=",
        "participant": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2080,
        32
      ],
      "id": "9b3eae62-4899-422a-b6e0-0c76721b0915",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "s71f2bqpe8VhvqMJ",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.from }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2288,
        32
      ],
      "id": "f23be841-5e9a-4ffc-a33e-5d6511bce4f0",
      "name": "Start Typing",
      "credentials": {
        "wahaApi": {
          "id": "s71f2bqpe8VhvqMJ",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2496,
        32
      ],
      "id": "954d4615-29d7-4dec-bc03-a9b42cbae0d3",
      "name": "Wait",
      "webhookId": "a80e432a-b791-4da8-b161-3d886fa5b5c8"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.from }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2704,
        32
      ],
      "id": "62eaf464-9d6f-43b9-a0f0-fef367097fb3",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "s71f2bqpe8VhvqMJ",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cbff6e99-47ef-406c-8394-e17bd0fac5e4",
              "leftValue": "={{ $('Dados').item.json.hasMedia }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        112
      ],
      "id": "b49f03b8-3168-4dae-bba2-dfa3f936c4ab",
      "name": "Tem Midia?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf93f024-888c-4085-b23a-792bfff57cee",
              "name": "message",
              "value": "={{ $('Dados').item.json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        96
      ],
      "id": "c24f4c61-4375-456e-b77c-e63330da076a",
      "name": "Set Text Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2c61732-341c-4c4d-ab90-f49ad34bbfa5",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        96
      ],
      "id": "900ac48a-92c1-4711-91a0-2a44046c7673",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Ignorar API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignorar API": {
      "main": [
        [],
        [
          {
            "node": "Ignorar grupos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignorar grupos": {
      "main": [
        [],
        [
          {
            "node": "Tem Midia?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Midia?": {
      "main": [
        [
          {
            "node": "Set Text Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text Message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "10ec23f7-a98e-441a-a348-511f0460c438",
  "meta": {
    "instanceId": "c01af2460e43cefea5576e4d45151c90d93e735042d485d6a27351ead8fb776e"
  },
  "id": "x8shOppUianeoGyO",
  "tags": []
}